<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tylerbwong.cardgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="Cards">
        <activity android:name=".gui.mainmenu.SplashActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.mainmenu.MainActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.magic.MagicActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.magic.MagicResultActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.magic.RealMagicActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.magic.RealMagicNumberActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.magic.RealMagicPileActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.war.WarActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.blackjack.BlackActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity android:name=".gui.crazyeight.CrazyActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>
